<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net20" />
  <package id="NanoByte.Common" version="2.1.11" targetFramework="net20" />
  <package id="NanoByte.Common.WinForms" version="2.1.11" targetFramework="net20" />
  <package id="SlimDX" version="4.0.13.44" targetFramework="net20" />
</packages>