<?xml version="1.0"?>
<Settings>
	<!--
	This is the default Settings.xml file. It is only used as a base configuration for developers.
	Do not add this file to the final release of the application.
	Once you modify the Settings.xml files in build\Debug and build\Release this file will be ignored.
	-->
	<General>
		<ContentDir>..\..\content</ContentDir>
	</General>
	<Display>
		<Fullscreen>false</Fullscreen>
	</Display>
	<Editor>
		<ShowWelcomeMessage>false</ShowWelcomeMessage>
		<EditBase>true</EditBase>
	</Editor>
</Settings>