<?xml version="1.0" encoding="utf-8"?>
<Dialog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ColorBackground A="128" R="0" G="0" B="0" />
  <ColorCaption A="128" R="96" G="128" B="255" />
  <ColorText A="255" R="255" G="255" B="255" />
  <CaptionText>[Settings]</CaptionText>
  <CaptionHeight>30</CaptionHeight>
  <OnShow>Me:ImportLua("Utils.lua")

-- General
if Settings.General.Language == "de" then Language.SelectedItem = "Deutsch"; end;
if State ~= GameState.Menu then
  LanguageLabel.Enabled = false
  Language.Enabled = false
end

-- Controls
InvertMouse.Checked = Settings.Controls.InvertMouse
MouseSensitivity.Value = Settings.Controls.MouseSensitivity * 10

-- Display

--- Resolution
function resolution_helper(width, height)
  if Engine.Capabilities:CheckResolution(width, height) then Resolution.Items:Add(width.."x"..height); end
end
resolution_helper(1024, 768);
resolution_helper(1152, 864);
resolution_helper(1280, 720);
resolution_helper(1280, 800);
resolution_helper(1280, 1024);
resolution_helper(1366, 768);
resolution_helper(1440, 900);
resolution_helper(1600, 900);
resolution_helper(1680, 1050);
resolution_helper(1920, 1080);
resolution_helper(1920, 1200);
resolution_helper(2560, 1080);
resolution_helper(2560, 1440);
resolution_helper(2560, 1600);
resolution_helper(3440, 1440);
resolution_helper(3840, 1080);
resolution_helper(3840, 2160);
resolution_helper(4096, 2160);
resolution_helper(5120, 1440);
resolution_helper(5120, 2160);
resolution_helper(5120, 2880);
resolution_helper(6016, 3384);
resolution_helper(7680, 4320);
if Resolution.Items:Contains(Settings.Display.ResolutionText) then Resolution.SelectedItem = Settings.Display.ResolutionText; end;

--- Anti-Aliasing
for level=2,16,2 do
  if Engine.Capabilities:CheckAA(level) then AntiAliasing.Items:Add(level.."x"); end
end
if Settings.Display.AntiAliasing ~= 0 and AntiAliasing.Items:Contains(Settings.Display.AntiAliasingText) then
  AntiAliasing.SelectedItem = Settings.Display.AntiAliasingText
end

Fullscreen.Checked = Settings.Display.Fullscreen
VSync.Checked = Settings.Display.VSync
FieldOfView.Value = Settings.Graphics.FieldOfView
FieldOfViewValueLabel.Text = Settings.Graphics.FieldOfView.."°"

-- Effects
PostScreenEffects.Enabled = Engine.Capabilities.PerPixelEffects
PostScreenEffects.Checked = Settings.Graphics.PostScreenEffects
Anisotropic.Enabled = Engine.Capabilities.Anisotropic
Anisotropic.Checked = Settings.Graphics.Anisotropic
Shadows.Enabled = Engine.Capabilities.PerPixelEffects
Shadows.Checked = Settings.Graphics.Shadows
TerrainDoubleSampling.Enabled = Engine.Capabilities.DoubleSampling
TerrainDoubleSampling.Checked = Settings.Graphics.DoubleSampling
Gamma.Value = Settings.Graphics.Gamma * 10
Gamma.Enabled = Settings.Graphics.PostScreenEffects
GammaValueLabel.Text = string.format("%.1f", Settings.Graphics.Gamma)

--- Water effects
luanet.load_assembly("OmegaEngine")
WaterEffectsType = luanet.import_type("OmegaEngine.Foundation.Light.WaterEffectsType")
WaterEffectsLabel.Enabled = Engine.Capabilities.PerPixelEffects
WaterEffects.Enabled = WaterEffectsLabel.Enabled
WaterEffects.SelectedItem = "["..Settings.Graphics.WaterEffects:ToString().."]"
</OnShow>
  <FontSize>15</FontSize>
  <Size Width="750" Height="520" />
  <Shift X="0" Y="0" />
  <GroupBox Name="GeneralBox">
    <Location X="10" Y="42" />
    <Size Width="250" Height="82" />
    <ColorBorder A="255" R="0" G="0" B="0" />
    <ColorFill A="128" R="128" G="128" B="128" />
  </GroupBox>
  <Label Name="GeneralLabel" Text="[General]">
    <Location X="20" Y="50" />
    <Size Width="100" Height="20" />
  </Label>
  <Label Name="LanguageLabel" Text="[Language]">
    <Location X="20" Y="80" />
    <Size Width="80" Height="30" />
  </Label>
  <DropdownList Name="Language">
    <Location X="100" Y="80" />
    <Size Width="130" Height="30" />
    <Item>English</Item>
    <Item>Deutsch</Item>
    <SelectedItem>English</SelectedItem>
    <OnChanged>-- Default to English language, provide German as an option
if Language.SelectedItem=="Deutsch" then
  Settings.General.Language = "de"
else
  Settings.General.Language = "en"
end

-- Reload the Settings dialog to apply the language switch
Me:Close()
LoadModalDialog("Settings").Render.Location = Me.Render.Location</OnChanged>
  </DropdownList>
  <GroupBox Name="ControlsBox">
    <Location X="280" Y="42" />
    <Size Width="450" Height="82" />
    <ColorBorder A="255" R="0" G="0" B="0" />
    <ColorFill A="128" R="128" G="128" B="128" />
  </GroupBox>
  <Label Name="ControlsLabel" Text="[Controls]">
    <Location X="290" Y="50" />
    <Size Width="100" Height="20" />
  </Label>
  <CheckBox Name="InvertMouse" Text="[InvertMouse]">
    <Location X="290" Y="85" />
    <Size Width="200" Height="20" />
    <OnChanged>Settings.Controls.InvertMouse = InvertMouse.Checked</OnChanged>
  </CheckBox>
  <Label Name="MouseSensitivityLabel" Text="[MouseSensitivity]">
    <Location X="525" Y="65" />
    <Size Width="100" Height="20" />
  </Label>
  <Slider Name="MouseSensitivity">
    <Location X="525" Y="85" />
    <Size Width="180" Height="32" />
    <Min>1</Min>
    <Max>40</Max>
    <Value>10</Value>
    <OnChanged>Settings.Controls.MouseSensitivity = MouseSensitivity.Value / 10</OnChanged>
  </Slider>
  <GroupBox Name="DisplayBox">
    <Location X="10" Y="142" />
    <Size Width="720" Height="122" />
    <ColorBorder A="255" R="0" G="0" B="0" />
    <ColorFill A="128" R="128" G="128" B="128" />
  </GroupBox>
  <Label Name="DisplayLabel" Text="[Display]">
    <Location X="20" Y="150" />
    <Size Width="100" Height="20" />
  </Label>
  <Label Name="ResolutionLabel" Text="[Resolution]">
    <Location X="20" Y="180" />
    <Size Width="80" Height="30" />
  </Label>
  <DropdownList Name="Resolution">
    <Location X="100" Y="180" />
    <Size Width="150" Height="30" />
    <OnChanged>location_backup = Me.Render.Location
Settings.Display.ResolutionText = Resolution.SelectedItem
Me.Render.Location = location_backup</OnChanged>
  </DropdownList>
  <CheckBox Name="Fullscreen" Text="[Fullscreen]">
    <Location X="290" Y="185" />
    <Size Width="130" Height="20" />
    <OnChanged>location_backup = Me.Render.Location
Settings.Display.Fullscreen = Fullscreen.Checked
Me.Render.Location = location_backup</OnChanged>
  </CheckBox>
  <Label Name="AntiAliasingLabel" Text="Anti-Aliasing">
    <Location X="20" Y="220" />
    <Size Width="100" Height="30" />
  </Label>
  <DropdownList Name="AntiAliasing">
    <Location X="120" Y="220" />
    <Size Width="130" Height="30" />
    <Item>[Off]</Item>
    <SelectedItem>[Off]</SelectedItem>
    <OnChanged>location_backup = Me.Render.Location
Settings.Display.AntiAliasingText = AntiAliasing.SelectedItem
Me.Render.Location = location_backup</OnChanged>
  </DropdownList>
  <CheckBox Name="VSync" Text="VSync">
    <Location X="290" Y="220" />
    <Size Width="130" Height="20" />
    <OnChanged>location_backup = Me.Render.Location
Settings.Display.VSync = VSync.Checked
Me.Render.Location = location_backup</OnChanged>
  </CheckBox>
  <Label Name="FieldOfViewLabel" Text="[FieldOfView]">
    <Location X="525" Y="203" />
    <Size Width="120" Height="20" />
  </Label>
  <Slider Name="FieldOfView">
    <Location X="525" Y="223" />
    <Size Width="180" Height="32" />
    <Min>45</Min>
    <Max>120</Max>
    <Value>90</Value>
    <OnChanged>Settings.Graphics.FieldOfView = FieldOfView.Value
FieldOfViewValueLabel.Text = Settings.Graphics.FieldOfView.."°"</OnChanged>
  </Slider>
  <Label Name="FieldOfViewValueLabel" Text="??°">
    <Location X="685" Y="203" />
    <Size Width="30" Height="20" />
  </Label>
  <GroupBox Name="GeneralBox">
    <Location X="10" Y="282" />
    <Size Width="720" Height="162" />
    <ColorBorder A="255" R="0" G="0" B="0" />
    <ColorFill A="128" R="128" G="128" B="128" />
  </GroupBox>
  <Label Name="EffectsLabel" Text="[Effects]">
    <Location X="20" Y="290" />
    <Size Width="100" Height="20" />
  </Label>
  <CheckBox Name="PostScreenEffects" Text="[PostScreenEffects]">
    <Location X="20" Y="325" />
    <Size Width="190" Height="20" />
    <OnChanged>Settings.Graphics.PostScreenEffects = PostScreenEffects.Checked
Gamma.Enabled = Settings.Graphics.PostScreenEffects</OnChanged>
  </CheckBox>
  <CheckBox Name="Anisotropic" Text="[Anisotropic]">
    <Location X="220" Y="325" />
    <Size Width="230" Height="20" />
    <OnChanged>Settings.Graphics.Anisotropic = Anisotropic.Checked</OnChanged>
  </CheckBox>
  <CheckBox Name="Shadows" Text="[ShowShadows]">
    <Location X="460" Y="325" />
    <Size Width="220" Height="20" />
    <OnChanged>Settings.Graphics.Shadows = Shadows.Checked</OnChanged>
  </CheckBox>
  <Label Name="WaterEffectsLabel" Text="[WaterEffects]">
    <Location X="20" Y="360" />
    <Size Width="120" Height="30" />
  </Label>
  <DropdownList Name="WaterEffects">
    <Location X="140" Y="360" />
    <Size Width="220" Height="30" />
    <Item>[None]</Item>
    <Item>[RefractionOnly]</Item>
    <Item>[ReflectTerrain]</Item>
    <Item>[ReflectAll]</Item>
    <SelectedItem>[RefractionOnly]</SelectedItem>
    <OnChanged>if WaterEffects.SelectedItem == "[None]" then Settings.Graphics.WaterEffects = WaterEffectsType.None
elseif WaterEffects.SelectedItem == "[RefractionOnly]" then Settings.Graphics.WaterEffects = WaterEffectsType.RefractionOnly
elseif WaterEffects.SelectedItem == "[ReflectTerrain]" then Settings.Graphics.WaterEffects = WaterEffectsType.ReflectTerrain
elseif WaterEffects.SelectedItem == "[ReflectAll]" then Settings.Graphics.WaterEffects = WaterEffectsType.ReflectAll
end</OnChanged>
  </DropdownList>
  <CheckBox Name="TerrainDoubleSampling" Text="[TerrainDoubleSampling]">
    <Location X="460" Y="359" />
    <Size Width="260" Height="20" />
    <OnChanged>Settings.Graphics.DoubleSampling = TerrainDoubleSampling.Checked</OnChanged>
  </CheckBox>
  <Label Name="GammaLabel" Text="Gamma">
    <Location X="525" Y="384" />
    <Size Width="120" Height="20" />
  </Label>
  <Slider Name="Gamma">
    <Location X="525" Y="404" />
    <Size Width="180" Height="32" />
    <Min>1</Min>
    <Max>50</Max>
    <Value>10</Value>
    <OnChanged>Settings.Graphics.Gamma = Gamma.Value * 0.1
GammaValueLabel.Text = string.format("%.1f", Settings.Graphics.Gamma)</OnChanged>
  </Slider>
  <Label Name="GammaValueLabel" Text="?.?">
    <Location X="680" Y="384" />
    <Size Width="25" Height="20" />
  </Label>
  <Button Name="Exit" Text="OK">
    <Location X="0" Y="20" />
    <Size Width="160" Height="40" />
    <AlignHorizontal>Center</AlignHorizontal>
    <AlignVertical>FromBottom</AlignVertical>
    <OnClick>return_to_menu()</OnClick>
  </Button>
</Dialog>
