<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ICSharpCode.SharpZipLib.Patched" version="0.86.5" targetFramework="net35" />
  <package id="JetBrains.Annotations" version="10.0.0" targetFramework="net35" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net35" />
  <package id="NanoByte.Common" version="2.0.2" targetFramework="net35" />
  <package id="NanoByte.Common.SlimDX" version="2.0.2" targetFramework="net35" />
  <package id="NanoByte.Common.WinForms" version="2.0.2" targetFramework="net35" />
  <package id="NUnit" version="2.6.4" targetFramework="net35" />
  <package id="SlimDX" version="4.0.13.44" targetFramework="net35" />
</packages>