# Generate and publish source documentation
name: Documentation
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Prepare
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.cache/0install.net
          key: 0install-${{hashFiles('**/build.sh')}}

      # Build
      - name: Build documentation
        run: doc/build.sh

      # Publish
      - name: Publish documentation
        if: startsWith(github.event.ref, 'refs/tags')
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{github.token}}
          force_orphan: true
          publish_dir: artifacts/Documentation
          cname: api.omegaengine.de
